.conteudo-principal-escrito-botao {
    display: flex;
    background-color: #C0503C;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    margin-top: 20%;
    animation: pulse 0.7s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -webkit-filter: brightness(100%);
    }
    100% {
      -webkit-transform: scale(1.1);
      -webkit-filter: brightness(200%);
    }
  }

